<div *ngIf="loadingData else loadingPage">
  <div class="bg-no-repeat bg-cover bg-center bg-opacity-15"
    style="background-image: url(../../../assets//images/background-main-page1.jpg)">

    <div class=" h-screen">
      <div class="m-auto grid">
        <div class="col-span-6">
          <!-- Title -->
          <p class="text-6xl  italic ... text-center">Employee in alsk</p>


          <!-- Buttons -->
          <div class="grid grid-cols-2 gap-4 text-center">

            <div class="...">
              <a routerLink="/add-employee">
                <button
                  class="b01 bg-blue-500 hover:bg-blue-400 text-white font-bold  border-b-4 border-blue-700 hover:border-blue-500 rounded">
                  Add a new employee
                </button>
              </a>
            </div>

            <div class="...">
              <button
                class="b01 bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded"
                (click)="deleteEmployees()">
                Delete employees
              </button>
            </div>
          </div>

          <!-- Table -->
          <div class="container">
            <ul class="responsive-table">
              <li class="table-header">
                <div class="col col-1">Select</div>
                <div class="col col-4">Full name</div>
                <div class="col col-3">ID number</div>
                <div class="col col-3">Sex</div>
                <div class="col col-4">Comments</div>
              </li>
              <li class="table-row" *ngFor="let employee of employees">
                <div class="col col-1" data-label="selected"><input type="checkbox" class="form-checkbox"
                    [(ngModel)]="employee.selected"></div>
                <div class="col col-4 cursor-pointer ... hover:bg-blue-400" data-label="Customer Name"
                  (click)="editEmployee(employee)">
                  <i>{{employee.fullName}}</i>
                </div>
                <div class="col col-3" data-label="Amount">{{employee.idNumber}}</div>
                <div class="col col-3" data-label="Payment Status">{{employee.sex}}</div>
                <div class="col col-4" data-label="Payment Status">{{employee.comments}}</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingPage>

  <body class="div">
    <div class="preloader">
      <div class="preloader__ring">
        <div class="preloader__sector">L</div>
        <div class="preloader__sector">o</div>
        <div class="preloader__sector">a</div>
        <div class="preloader__sector">d</div>
        <div class="preloader__sector">i</div>
        <div class="preloader__sector">n</div>
        <div class="preloader__sector">g</div>
        <div class="preloader__sector">.</div>
        <div class="preloader__sector">.</div>
        <div class="preloader__sector">.</div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
      </div>
      <div class="preloader__ring">
        <div class="preloader__sector">L</div>
        <div class="preloader__sector">o</div>
        <div class="preloader__sector">a</div>
        <div class="preloader__sector">d</div>
        <div class="preloader__sector">i</div>
        <div class="preloader__sector">n</div>
        <div class="preloader__sector">g</div>
        <div class="preloader__sector">.</div>
        <div class="preloader__sector">.</div>
        <div class="preloader__sector">.</div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
        <div class="preloader__sector"></div>
      </div>
    </div>
  </body>
</ng-template>