<!-- <div >
  <button type="button" routerLink="/home-page"
    class='flex max-w-sm w-full bg-gradient-to-r from-green-500 to-blue-500 hover:from-green-600 hover:to-blue-600 focus:outline-none text-white text-2xl uppercase font-bold shadow-md rounded-full mx-auto p-5'>
    <div class="flex sm:flex-cols-12 gap-2">
      <div class="col-span-1">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
            d="M15 13l-3 3m0 0l-3-3m3 3V8m0 13a9 9 0 110-18 9 9 0 010 18z" />
        </svg>
      </div>
      <div class="col-span-2 pt-2">Back</div>
    </div>
  </button>
</div>
 -->
<div class="flex items-center h-screen w-full bg-teal-lighter bg-no-repeat bg-cover bg-center bg-opacity-15"
  style="background-image: url(../../../assets//images/background-main-page.jpg)">

  <div class="w-full bg-white rounded shadow-lg p-8 m-4 md:max-w-sm md:mx-auto">

    <div class="row">
      <div class="row-span-4 ...">
        <button routerLink="/home-page"
          class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded">
          Back
        </button>
      </div>
    </div>

    <h1 class="block w-full text-center text-grey-darkest mb-6">Add employee</h1>
    <form class="mb-4 md:flex md:flex-wrap md:justify-between" (ngSubmit)="saveData()">
      <div class="flex flex-col mb-4 md:w-full">
        <label class="mb-2 uppercase tracking-wide font-bold text-lg text-grey-darkest" for="full_name">Full
          name</label>
        <input class="border py-2 px-3 text-grey-darkest md:mr-2" type="text" name="full_name" id="full_name"
          [(ngModel)]="employee.fullName">
      </div>
      <div class="flex flex-col mb-4 md:w-full">
        <label class="mb-2 uppercase font-bold text-lg text-grey-darkest md:ml-2" for="id_number">ID number</label>
        <input class="border py-2 px-3 text-grey-darkest md:ml-2" type="number" name="id_number" id="id_number"
          [(ngModel)]="employee.idNumber">
      </div>
      <div class="flex flex-col mb-4 md:w-1/2">
        <label class="mb-2 uppercase font-bold text-lg text-grey-darkest" for="sex">Sex</label>

        <!-- Toggle -->
        <div class="flex items-center justify-center w-full mb-12">
          <label for="toogleA" class="flex items-center cursor-pointer">
            <!-- label -->
            <div class="ml-3 text-gray-700 font-medium">
              Male
            </div>

            <!-- toggle -->
            <div class="relative">
              <!-- input -->
              <input id="toogleA" name="sex" type="checkbox" class="sr-only" [(ngModel)]="employee.sex" />
              <!-- line -->
              <div class="w-10 h-4 bg-gray-400 rounded-full shadow-inner"></div>
              <!-- dot -->
              <div class="dot absolute w-6 h-6 bg-white rounded-full shadow -left-1 -top-1 transition"></div>
            </div>
            <!-- label -->
            <div class="ml-3 text-gray-700 font-medium">
              Female
            </div>
          </label>
        </div>

      </div>
      <div class="flex flex-col mb-6 md:w-full">
        <label class="mb-2 uppercase font-bold text-lg text-grey-darkest" for="comments">Comments</label>
        <input class="border py-2 px-3 text-grey-darkest" type="comments" name="comments" id="comments"
          [(ngModel)]="employee.comments">
      </div>
      <!--   <button class="block bg-teal hover:bg-teal-dark text-white uppercase text-lg mx-auto p-4 rounded"
        type="submit">Add employee</button>
 -->
      <div class="mb-4">
        <button type="submit"
          class='flex max-w-sm w-full bg-gradient-to-r from-green-500 to-blue-500 hover:from-green-600 hover:to-blue-600 focus:outline-none text-white text-2xl uppercase font-bold shadow-md rounded-lg mx-auto p-5'>
          <div class="flex sm:flex-cols-12 gap-6">
            <div class="col-span-1">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2}
                  d="M15 13l-3 3m0 0l-3-3m3 3V8m0 13a9 9 0 110-18 9 9 0 010 18z" />
              </svg>
            </div>
            <div class="col-span-2 pt-1.5">Save employee</div>
          </div>
        </button>
      </div>
    </form>
  </div>
</div>